.counter-heading p {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.counter-sub-heading {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.counter-sub-heading p {
  font-weight: 200;
  font-size: 18px;
}

@media only screen and (max-width: 640px) {
  .counter-sub-heading {
    width: 100%;
  }
}